<div class="row mt-3">
  <div class="col">
    <div cdkDropList class="track-manager-list" (cdkDropListDropped)="onDrop($event)">
      <div class="track-manager-box" *ngFor="let track of tracks" cdkDrag>
        <mat-form-field class="example-full-width">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Piano" [value]="track.name">
        </mat-form-field>
        <div class="track-manager-handle" cdkDragHandle>
          <mat-icon aria-hidden="false" aria-label="Drag track">drag_handle</mat-icon>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row mt-3">
  <div class="col">
    <button (click)="onAddNewTrack()" mat-raised-button color="accent">
      <mat-icon aria-hidden="false" aria-label="Add track">playlist_add</mat-icon>
      Add Track
    </button>
  </div>
</div>
