<div class="row mt-3">
  <div class="col">
    <mat-form-field class="full-width">
      <mat-label>Title</mat-label>
      <input matInput placeholder="Untitled Score">
    </mat-form-field>
  </div>
</div>
<div class="row">
  <div class="col">
    <mat-form-field class="full-width">
      <mat-label>Subtitle</mat-label>
      <input matInput placeholder="Am">
    </mat-form-field>
  </div>
</div>
<div class="row">
  <div class="col">
    <mat-form-field class="full-width">
      <mat-label>Composer</mat-label>
      <input matInput placeholder="Name Surname">
    </mat-form-field>
  </div>
</div>
<div class="row">
  <div class="col">
    <mat-form-field class="full-width">
      <mat-label>Arranger</mat-label>
      <input matInput placeholder="Name Surname">
    </mat-form-field>
  </div>
</div>
