<mat-toolbar color="primary" class="d-flex justify-content-between">
  <div>
    <button (click)="onEditSheets()" mat-icon-button matTooltip="Edit Sheet Music" aria-label="Edit sheets">
      <mat-icon aria-hidden="false" aria-label="Edit sheets icon">edit</mat-icon>
    </button>
    <button (click)="onEditGlobal()" mat-icon-button matTooltip="Edit Global Score Data" aria-label="Edit global score data">
      <mat-icon aria-hidden="false" aria-label="Edit sheets icon">category</mat-icon>
    </button>
    <button (click)="onEditCover()" mat-icon-button matTooltip="Edit Title & Creators"
            aria-label="Edit cover, like song title or composer">
      <mat-icon aria-hidden="false" aria-label="Edit cover icon">text_fields</mat-icon>
    </button>
    <button (click)="onTrackManager()" mat-icon-button matTooltip="Track Manager" aria-label="Track manager">
      <mat-icon aria-hidden="false" aria-label="Track manager icon">queue_music</mat-icon>
    </button>
    <button (click)="onExportXml.next($event)" mat-icon-button matTooltip="Export to MusicXML"
            id="export-music-xml-button" aria-label="Edit sheets">
      <mat-icon aria-hidden="false" aria-label="Edit sheets icon">cloud_download</mat-icon>
    </button>
  </div>
  <app-audio-player></app-audio-player>
</mat-toolbar>
